# Configurações da API
PORT=3000
NODE_ENV=development

# Autenticação JWT
JWT_SECRET=super_secret_jwt_key_para_desenvolvimento
JWT_EXPIRES_IN=1d

# Configurações do Banco de Dados (PostgreSQL)
# (Estas credenciais devem coincidir com as configuradas no docker-compose.yml)
DB_HOST=postgres_db
DB_PORT=5432
DB_USER=admin
DB_PASS=admin123
DB_NAME=api_monitor_db
DATABASE_URL=postgresql://admin:admin123@postgres_db:5432/api_monitor_db?schema=public

# Configurações do Servidor de E-mail (Ex: Mailtrap)
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=seu_user_do_mailtrap
MAIL_PASS=sua_senha_do_mailtrap